h1{
    font-size: 35px;
    text-align: center;
    color:blue;
}    


table.blueTable {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 90%;
  text-align: left;
  border-collapse: collapse;
  margin: 0 auto;
  margin-top: 43px;
  /* padding: 10px 20px; */
  border: 2px solid #313786;
  }

  table.blueTable td, table.blueTable th {
    border: 1px solid #AAA;
    padding: 3px 2px;
  }
  table.blueTable tbody td {
    font-size: 20px;   
  }
  table.blueTable tr:nth-child(even) {
    background-color: #3137863b;
  }
  table.blueTable thead {
    background: #1C6EA4;
    background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    border-bottom: 2px solid #444444;
  }
  table.blueTable thead th {
    font-size: 19px;
    text-align: center;
    font-weight: bold;
    height: 48px;
    color: #FFFFFF;
    background-color: #313786;

  }
  table.blueTable thead th:first-child {
    border-left: none;
  }

  tr {
    height: 50px;
  }


#headline {
  font-size: 30px;
  color: #313786;
  text-align: center;
  margin-bottom: 30px;
}

#button-add-new {
  color: #fff;
  font-size: 15px;
  text-align: center;
  border: 1px solid #313786 ;
  background-color: #313786;
  border-radius: 10px;
  padding: 7px 15px;
  text-decoration: none;

  width: 200px;
  margin: 0 auto;
  display: flex;

}

.remove-button {
  text-decoration: none;
  color: #fff;
  text-align: center;
  border: 1px solid #313786 ;
  background-color: #313786;
  border-radius: 10px;
  padding: 5px 7px;
  font-size: 12px;
}

.edit-button {
  text-decoration: none;
  color: #fff;
  text-align: center;
  border: 1px solid #313786 ;
  background-color: #313786;
  border-radius: 10px;
  padding: 5px 7px;
  margin-right: 5px;
  font-size: 12px;
}